.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20;
  margin-bottom: 20;
}

@media only screen and (max-width: 520) {
  .wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
