.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20;
  margin-bottom: 20;
}

@media only screen and (max-width: 600) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 475) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
