.wrapper {
  text-align: right;
}

.switch {
  display: inline;
  margin: 0 10;
  cursor: pointer;
}

.active {
  color: green;
}

.inactive {
  color: black;
}

@media only screen and (max-width: 475) {
  .wrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 335) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .switch {
    margin: 10 0;
  }
}
